#############################################
# Ignoring results: LaTeX, images, PDF,...
#############################################
*.png
*.jpg
*.tex

#############################################
# Ignoring job directories
############################################
DATA_*
MC_*
